{% load static %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/app.css' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text|Philosopher|Merriweather|Nanum+Gothic">

<!DOCTYPE HTML>
<html class="no-js" lang="en">
<html>
<head>
	<title>Django Dash</title>
</head>
<body>
    <div class="container-fluid" id="page-header">
			 <h1> Dashboard </h1>
			 <h6>A research dashboard for Indigeneity/Urban Ecology courses</h6>

        <hr>
    </div>

    <div class="">
        <div class="">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
</html>
