{% load static %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/app.css' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text|Philosopher|Merriweather|Nanum+Gothic">

<!DOCTYPE HTML>
<html class="no-js" lang="en">
<html>
<head>
	<title>Django Dash</title>
</head>
<body>
    <div class="container-fluid" id="page-header">
			 <h1> Dashboard </h1>
			 <h6>A research dashboard for Indigeneity/Urban Ecology courses</h6>

        <hr>
    </div>

    <div class="">
        <div class="">
            {% block content %}
            {% endblock %}
        </div>
    </div>

     <div id="credits">
             <h4 align="center"><b> Credits </b></h4>
             <p><b>Yongxin Xu('21)</b> is a Computer Science Major and Economics Minor at Haverford College. She worked on creating the slider, timeline, datatable and checklist. </p>
             <p><b>Shufan Xia('21)</b> is a Physics Major at Haverford College. She worked on moving the Dashboard app to Django, creating the map and checklist.</p>
    </div>   
</body>
</html>
