h1 {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #4e73df;
  text-align: center;
}

h2 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  color: #5a5c69;
  text-align: center;
}

div.col-sm-4.Radioitems {
	text-align: right;
	border-style: solid;
	border-color: #d7dde5;
	background-color: #d0d6dd;
}