#page-header {
  background-color: #800000;
  padding: 80px, 50px, 40px, 50px;
}

#page-header h1 {
  font-family: 'Crimson Text', serif;
  color: #ffffff;
  text-align: left;
}

#page-header h6 {
  font-family: 'Merriweather', serif;
  color: #f2f2f2;
  text-align: left;
}
h1 {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #4e73df;
  text-align: center;
}

h2 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  color: #5a5c69;
  text-align: center;
}

div.col-sm-4.Radioitems {
	text-align: right;
	border-style: solid;
	border-color: #d7dde5;
	background-color: #d0d6dd;
}


#credits {
  border-radius: 8px;
  border: 2px solid #e3e3e3;
  background: #f5f5f5;
  width: 95%;
  height: 150px;
  padding: 15px;
  margin: auto; 
}